# Credentials & Sensitive User Configuration
vpn_config.json
auth.txt
*_auth.txt
*.log

# Binaries & Compiled Executables
# *.exe

# Temporary files
*.tmp
*.bak
scratch/
tools/oc_pass.txt
tools/vpn_pass.txt
tools/run_forti.bat
.vs/
.idea/
